@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.big-text {
  font-size: 8vw;
  position: relative;
  background-clip: text;
  z-index: 100;

  &::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: transparent;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }
}
