@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.big-text {
  font-size: 8vw;
  position: relative;
  background-clip: text;
  z-index: 100;

  &::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    background: transparent;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    z-index: 100;
  }
}

.hidden-text {
  position: relative;
  font-size: 7vw;

  &::before {
    content: "";
    position: absolute;
    width: 300%;
    height: 300%;
    background: transparent;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }
}

.loading-text {
  background-clip: text;
  color: rgba(255, 255, 255, 0.15);
  background-image: linear-gradient(to right, white 100%, transparent 0%);
  background-size: 10px 100%;
  background-repeat: no-repeat;
  animation: loading 1.8s linear infinite;
}

@keyframes loading {
  0% {
    background-position: -20%;
  }

  100% {
    background-position: 130%;
  }
}

.carousel-container {
  mask: radial-gradient(800px circle at center, black, transparent 100%);

  &::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    translate: -50% -70%;
    background: radial-gradient(
        circle at center,
        rgba(255, 255, 255, 1),
        transparent 50%
      )
      fixed;
    filter: brightness(0.5) blur(20px);
    transform: translateZ(10px);
    mix-blend-mode: lighten;
  }
}

.carousel-parallax {
  --item-size: 9vw;
  padding-inline: calc(50% - var(--item-size) * 0.5);
  scroll-padding-inline: calc(50% - var(--item-size) * 0.5);
  /* scroll-snap-type: x mandatory;
  scroll-behavior: smooth; */

  .carousel-parallax-item {
    position: relative;
    perspective: 700px !important;
    transform-style: preserve-3d;
    width: var(--item-size);
    pointer-events: none;
    /* transform: scale(0.8); */

    view-timeline: --item-timeline inline;

    animation: parallax both linear;
    animation-timeline: --item-timeline;

    &::after {
      content: "";
      position: absolute;
      background-image: inherit;
      width: 100%;
      height: 100%;
      top: 115%;
      left: 50%;
      background-repeat: inherit;
      background-size: inherit;
      background-position: inherit;
      transform: rotateX(0deg) scaleY(-1) translateZ(0px) translateX(-50%);
      transform-origin: center;
      mask-image: linear-gradient(
        to top,
        rgb(10, 10, 10, 0.9),
        transparent 35%
      );
      /* box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25); */

      filter: blur(1.2px) brightness(1) saturate(1.5);
      @apply rounded-lg;
      /* opacity: 0; */

      /* animation: parallax-reflection both linear;
      animation-timeline: --item-timeline; */
    }
  }
}

@keyframes parallax {
  100% {
    background-position-x: 100%;
  }
}

/* @keyframes parallax-reflection {
  100% {
    opacity: 1;
  }
} */

.room {
  .bulb {
    background: white;
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white,
      0 0 50px white;
  }

  .bulb::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    filter: blur(40px);
  }

  .bulb::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -15px;
    width: 10px;
    height: 20px;
    background: white;
    border-top: 10px solid black;
    border-radius: 10px;
  }
}

.left-wall {
  background: linear-gradient(
    to left,
    rgba(68, 68, 68, 0.1) 10%,
    transparent 90%
  );
  opacity: 0;
  filter: blur(20px);
}

.right-wall {
  background: linear-gradient(
    to right,
    rgba(68, 68, 68, 0.1) 10%,
    transparent 90%
  );
  opacity: 0;
  filter: blur(20px);
}
